.box{
    background-color: #3a4042;
    display: inline-block;

    box-shadow: 10px 10px 0px black;
    text-align: center; /* aqui eu afeto os filhos, não só o element*/ 
    padding: 42px 44px;

}
.box > title{
    margin-bottom: 28px;

}