.bunner{
    background-image: url("../imagens/Banner\ \(1\).png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 762px;
    border-bottom: 10px solid black;
    padding-top: 115px;
    padding-left: 90px;
    box-sizing: border-box;
}


.bunner > .wrapper{
    display: flex; /*essa parte é importante pq ele começa com o flex , so o flex faz os elementos filhos esticarem completamente na horizontal na <section><\section>, entao saida é */
    flex-direction: column;
    width: 640px;
    
}
.bunner .box{
    
}
.bunner .navegation{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}