.main-title{
    font-family: "Press Start 2P", system-ui;
    font-size: 40px;
    display: inline-block;
    color: #F25A70;
    text-shadow: 4px 4px 0px black;
   
}
.main-title.-second{

    
    color: white;
    text-shadow: none;
   
}