.section{
    background-color: #F25A70;
    height: 740px;
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid #7c5e99;
    
}
.section .main-title{
    margin-bottom: 60px;
}
.section .-preta{
    background-color: rgb(87, 51, 51);
    color: aquamarine;
}