.progress-bar{
    box-sizing: border-box;
    background-color: white;
    border: 5px solid black;
    height: 40px;
}

progress::-webkit-progress-value {
    background-color: #7c5e99; /* cor da barra */
}