/*parte do resetcs*/
/*-------------------------*/
body, h1, h2, h3, h4, figure, input{
 
    padding: 0;
    margin: 0;
}
body{
    font-family: "Fira Code", monospace;
    font-family: inherit;/*é herdado do pai*/
}
button{
    border: none;
    

}

/*------------------=------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');








